<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Marjane App</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="http://cdn.jsdelivr.net/npm/sweetalert2@11"></script> 
  <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
</head>

<style>
  body {
    font-family: 'Inter', sans-serif;
  }
</style>