<%- include('../partials/head'); %>

  <div class="min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full space-y-8">
      <div>
        <img class="mx-auto h-12 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg"
          alt="Workflow">
        <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
          Welcome back
        </h2>
        <p class="text-sm text-center mt-3 text-gray-400">Let's make some magic happen</p>
      </div>
      <form class="mt-8 space-y-6">
        <div class="rounded-md shadow-sm -space-y-px">
          <div>
            <input name="email" type="email" autocomplete="email" required
              class="focus:ring ring-indigo-300 rounded-md outline-none transition duration-100 p-3 block w-full border border-gray-300 text-3xl font-bold text-gray-900 sm:text-sm"
              placeholder="marjane@magic.link">
          </div>

        </div>
        <div class="flex gap-5 my-3 justify-center">
          <div>
            <label for="Subadmin">Subadmin</label>
            <input required value="subadmin" name="user" id="subadmin" type="radio">
          </div>
          <div>
            <label for="Manager">Manager</label>
            <input required value="manager" name="user" id="manager" type="radio">
          </div>
        </div>
        <div>
          <button type="submit"
            class="w-full flex justify-center px-4 py-2 border border-transparent text-lg font-medium rounded-lg text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 transition focus:ring-indigo-500">
            Start
          </button>
        </div>
      </form>
    </div>
  </div>

  <script>
    const form = document.querySelector('form');
    form.addEventListener('submit', async (e) => {
      e.preventDefault();
      const formdata = new FormData(form);

      const user = Object.fromEntries(formdata);
      const url = 'http://localhost:3000/api/account/login';
      const res = await fetch(url, {
        method: 'POST',
        body: JSON.stringify(user),
        headers: {
          'Content-Type': 'application/json'
        }
      });
      const data = await res.json();


      if (data.error) {
        alert(data.error);
      } else {
        // window.location.href = '/account/admin/dashboard';
      }
    });
  </script>