<%- include('../../partials/head'); %>

  <body>
    <section class="w-full px-8 py-16 bg-gray-100 xl:px-8">
      <div class="max-w-5xl mx-auto">
        <div class="flex flex-col items-center md:flex-row">

          <div class="w-full space-y-5 md:w-3/5 md:pr-16">
            <p class="font-medium text-blue-500 uppercase">Admin Panel</p>
            <h2 class="text-2xl font-extrabold leading-none text-black sm:text-3xl md:text-5xl">
              Changing The Way People Do Business.
            </h2>
            <p class="text-xl text-gray-600 md:pr-16">Learn how to engage with your visitors and teach them about your
              mission. We're revolutionizing the way customers and businesses interact.</p>
          </div>

          <div class="w-full mt-16 md:mt-0 md:w-2/5">
            <form class="relative z-10 h-auto p-8 py-10 overflow-hidden bg-white rounded-t-lg px-7">
              <h3 class="mb-6 text-2xl font-medium text-center">Sign in to your Account</h3>
              <input type="text" name="email"
                class="block w-full px-4 py-3 mb-4 border border-2 border-transparent border-gray-200 rounded-lg focus:ring focus:ring-blue-500 focus:outline-none"
                placeholder="Email address">
              <input type="password" name="password"
                class="block w-full px-4 py-3 mb-4 border border-2 border-transparent border-gray-200 rounded-lg focus:ring focus:ring-blue-500 focus:outline-none"
                placeholder="Password">
            </form>
            <div class="block">
              <button id="submit" class="w-full px-3 py-4 font-medium text-white bg-blue-600 rounded-y-lg">Log Me
                In</button>
            </div>
          </div>
        </div>

      </div>
      </div>
    </section>
    <%- include('../../partials/footer'); %>

  </body>
  <script>

    const submit = document.getElementById('submit');
    submit.addEventListener('click', async (e) => {
      e.preventDefault();
      const form = document.querySelector('form');
      const formdata = new FormData(form);

      const user = Object.fromEntries(formdata);

      const response = await fetch('/api/admin/login', {
        method: 'POST',
        body: JSON.stringify(user),
        headers: {
          'Content-Type': 'application/json'
        }
      });
      const data = await response.json();
      if (data.error) {
        return Swal.fire({
          title: 'Error',
          text: data.error,
          icon: 'error'
        })
      }
      Swal.fire({
        title: 'Success',
        text: 'logged in successfully',
        icon: 'success'
      }).then(() => {
        window.location.href = '/admin/dashboard';
      });
    });

  </script>

  </html>